@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.display-flex {
  display: flex;
}

.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
background-color: rgba(255, 144, 14, 1);
color: white;
border: none;
border-radius: 8px;
font-weight: 600;
padding: 14px 22px;

}

/* dark-01 */
.text-deep-gray {
  color: #131313;
}

/* dark-02 */
.text-gray {
  color: #424242;
}

/* dark-03 */
.text-light-gray {
  color: #727272;
}

/* nav style */
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
}

.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 4rem;
}

.banner-paragraph{
  font-size: 1rem;
}

.banner-image{
  width: 100%;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  .nav-bar, .nav-link{
    flex-direction: column;
  }
}